button{
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border: none;
  border-radius: 2em;
  margin:0.3em;
}

/*pseudo class hand cursors*/
button:hover{
  cursor: pointer;
}

.wrapper{
  background-color: black;
  border-radius: 1em;
  padding: 1em;
}

.Org{
  background-color: #FF9500;
  color: white;
}

.ligth-grey{
  background-color: #D4D4D2;
}

.Dark-grey{
  background-color: #505050;
  color: white;
}

.Result{
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-left: 1em;
  font-size: 3.5em;
}